/**
 * @author aeoril | https://www.ic3dimensions.com
 * Copyright © 2017 by IC3 Dimensions.  MIT License. See LICENSE.md
 * Portions Copyright © 2012 by Gregg Tavares.  See LICENSE-webfundamentals.md
 */

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h2 {
  color: white;
  text-align: center;
}

canvas {
  /* width: 100vw;
  height: 100vh; */

  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;

  /* margin-left: auto;
  margin-right: auto;
  display: block; */
}
