html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
body {
  margin: 0 10px 10px 10px;
}
img, embed, object, video { /* from Udacity tutorial video (added canvas)*/
  max-width: 100%;
}
a {text-decoration: none;}
a:link    { color: #00f; }
a:visited { color: #00f; }
a:hover   { color: #00f; }
a:active  { color: #00f; }

.page {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}
canvas {
  width: 100%;
  max-width: 640px;
}
.pictureSpacingMargin {
  margin-left: 20px;
}
.paleLink {
  background-color: white;
}
a.paleLink:link    { color: #99f; }
a.paleLink:visited { color: #99f; }
a.paleLink:hover   { color: #99f; }
a.paleLink:active  { color: #99f; }

.textAlignCenter {
  text-align: center;
}
.vtextAlignCenterOuter {
  margin: 0 auto;
  width: 100%;
}
.vtextAlignCenterWrapperLogo { /* Float wrappers */
  display: inline-block;
  vertical-align: middle;
  width: 65%;
}
.vtextAlignCenterWrapperNav { /* Float wrappers */
  display: inline-block;
  vertical-align: middle;
  width: 35%;
}
.floatAlignLeft {
	float: left;
}
.floatAlignRight {
  float: right;
}
.logo {
  font-size: 28pt;
}
.logo3 {
  vertical-align: super;
  font-size: 70%;
}
.nav {
  color: #888;
  font-size: 20pt;
}
.navLink {
  padding-left: 5px;
  padding-right: 5px;
}
.navLinkHilite {
  background-color: #305eff;
}
a.navLinkHilite:link    { color: #fff; }
a.navLinkHilite:visited { color: #fff; }
a.navLinkHilite:hover   { color: #fff; }
a.navLinkHilite:active  { color: #fff; }

.homeTagline {
  font-size: 18pt;
  color: #888;
}
.attribution {
  font-size: 9pt;
  color: #aaa;
}
.contact {
  margin-top: 25px;
  font-size: 11pt;
}
.footer {
  font-size: 10pt;
  color: #aaa;
}
.technologies {
  margin-top: 20px;
  margin-bottom: 15px;
  color:  #777;
  font-size: 16pt;
}
.technologies hr {
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 426px) {
  .vtextAlignCenterWrapperLogo { /* Float wrappers */
    display: block;
    vertical-align: inherit;
    width: inherit;
  }
  .vtextAlignCenterWrapperNav { /* Float wrappers */
    display: block;
    vertical-align: inherit;
    width: inherit;
  }
  .floatAlignLeft {
  	float: none;
    text-align: center;
  }
  .floatAlignRight {
    float: none;
    text-align: center;
  }
}
