#output {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12pt;
  margin-top: 10px;
}

#ms {
  width: 55px;
}

#frames {
  width: 30px;
}

fieldset {
  width: 270px;
}

@media screen and (max-width: 450px) {
  #output {
    font-size: 3.4vw;
  }
}
